<div style="width: 100%;">
<div id="canvas-holder" style="margin: 0 auto; overflow: auto; max-width: 600px;"></div>

<div class="row" style="margin: 0 auto;">
    <div class="four columns">
        <label for="slider_d">d</label>
        <input type="range" min="175" max="1000" value="200" id="slider_d">
    </div>
    <div class="four columns">
        <label for="slider_xy">\(\alpha\)</label>
        <input type="range" min="1" max="15" value="8" id="slider_xy">
    </div>
    <div class="four columns">
        <label for="slider_zw">\(\beta\)</label>
        <input type="range" min="1" max="15" value="4" id="slider_zw">
    </div>
</div>
</div>

<script src="/scripts/tesseract/matrix.js"></script>
<script src="/scripts/tesseract/tesseract.js"></script>